html {
  width: 1920px;
  height: 1080px;
  border: solid 1px yellow;
  overflow: hidden;
}

body {
  width: 1920px;
  height: 1080px;
  background: white;
  font-family: 'Open Sans', 'Helvetica-Light', sans-serif;
  position: relative;
}

header .notmanlogo {
  width: 1000px;
}

.events {
  width: 1700px;
  margin: 0 auto;
}

.events h1 {
  font-size: 70px;
}

.events li {
  display: block;
  margin-bottom: 30px;
  vertical-align: middle;
}

.events li .roomlabel {
  vertical-align: top;
  margin: 10px 20px 0 0;
  padding: 5px 0;
  font-size: 40px;
  font-weight: 400;
  border-radius: 10px;
  color: black;
  background-color: #ddd;
  white-space: nowrap;
  display: inline-block;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}

.events li.floor3 .roomlabel {
  color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009688+0,da10ed+100 */
  background: #009688;
    /* Old browsers */
  background: -moz-linear-gradient(-45deg, #009688 0%, #da10ed 100%);
    /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #009688 0%, #da10ed 100%);
    /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #009688 0%, #da10ed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#009688', endColorstr='#da10ed', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */;
}

.events li.bigroom .roomlabel {
  background: purple;
  color: white;
}

.events li.glassdoorroom .roomlabel {
  background: #009688;
  color: white;
}

.events li.osmocafe .roomlabel {
  background: #da7a21;
  color: white;
}

.events li .details {
  display: inline-block;
  width: 1300px;
  text-overflow: ellipsis;
}

.events li .eventtime {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 70px;
  vertical-align: top;
  display: inline-block;
}

.events li .eventtitle {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 70px;
  text-overflow: ellipsis;
  display: inline-block;
  width: 1100px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
}

.events li .eventtitle::before {
  content: ' - ';
}

.events li .eventtitle:before,
.events li .eventtitle:after {
  box-sizing: inherit;
}

.events li .roomdirections {
  display: block;
  font-size: 40px;
  font-family: 'Open Sans';
}

#communitybuilt {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 30px;
}

#allrooms {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 30px;
}

#allrooms ul {
  float: left;
  margin: 60px 40px 0 40px;
}

#allrooms ul li {
  display: block;
  color: #5a3c59;
}

#allrooms img {
  width: 200px;
}

.time {
  position: absolute;
  top: 30px;
  font-size: 70px;
  right: 60px;
  width: 400px;
  text-align: right;
}

.date {
  position: absolute;
  top: 120px;
  font-size: 40px;
  right: 60px;
  width: 400px;
  text-align: right;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#allrooms img {
  animation: blink 2s;
  animation-iteration-count: infinite;
}

.noevents {
  font-size: 50px;
  padding-left: 80px;
}
